* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
.portfolio-banner {
  background-image: url("../assets/images/2279887.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.logo {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.65rem;
}
.navbar-nav {
  display: flex;
}
.navbar-nav ul {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar-list ul li {
  text-decoration: none;
}
.nav-items {
  font-size: 15px;
  font-weight: 300;
  font-family: sans-serif;
  position: relative;
}
.nav-items ul li {
  padding: 0 15px;
  position: relative;
}
.nav-items ul li a {
  position: relative;
}

.nav-items ul li.dropdown {
  padding: 0px 15px 0px 0px;
}
.nav-items ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
.nav-items ul li a::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;

  transition: 0.25s ease-out;
}
.nav-items ul li:hover a::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 220px;

  z-index: 1;
  align-items: center;
}

.dropdown-menu a {
  color: black !important;
  background-color: white;
  font-size: 16px;
}

.dropdown-menu a:hover {
  background-color: #000000 !important;
  width: 100%;
  color: #fecb54 !important;
  display: flex;
  justify-content: center;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
.dropdown:hover .menu-button {
  background-color: transparent;
}
.header-container {
  display: flex;
}
menu {
  display: flex;
}
.open-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  font-size: 1.5rem;
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

.banner-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.banner-sub-container {
  display: flex;
  width: 80%;
  justify-content: center;
}
.banner-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0 15px;
  justify-content: center;
  width: 1100px;
  align-items: center;
}
.banner-main-container h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 12px;
}
.banner-main-container h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 17px;
}
.banner-main-container h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.auto-type {
  color: #fecb54;
}
.git-btn {
  padding: 11px 32px;
  font-weight: 400;
  background-color: #fecb54;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}

/* banner css ends here*/

/* about me css start from here*/
.about-me {
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  margin-top: 32px;
  min-height: 460px;
}

.about-me-title {
  position: relative;
}

.about-me-title h1 {
  position: relative;
  font-size: 38px;
  justify-content: center;
  margin: 90px 0 135px 0;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  margin-bottom: 120px;
  gap: 15px;
}
.about-me-text h5 {
  position: relative;
  font-size: 20px;
  justify-content: center;
}

.about-me-text {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  margin-top: 3px;
  width: 55%;
}
.about-me-info {
  margin-bottom: 30px;
}

.about-me-info ul {
  display: flex;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 30;
  width: 85%;
}

.about-me-info ul li {
  list-style: none;
  width: 50%;

  display: flex;
  align-items: center;
}
.about-me-info ul li img {
  width: 22px;
  height: 17px;
  margin-right: 4px;
}
/* about me css ends here*/

/* completed projects css start from here*/

.completed-projects {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  height: auto;
  padding: 5% 0;
}
.completed-projects-container {
  display: flex;
  justify-content: space-around;
  width: 60%;

  justify-self: center;
}
.completed-projects-container h3 {
  font-size: 48px;
}
.completed-projects-container h3:hover {
  color: #fecb54;
}
.completed-projects-container p {
  font-size: 22px;
  justify-content: center;
  font-weight: 300;
  margin: 5px;
}
.completed-projects-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* completed projects css ends here*/

/*  services css start from here*/

.services {
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.services-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.services-container h1 {
  font-size: 38px;
  margin-bottom: 145px;
}
.services-subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 192px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 80px;
}

.services-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
.services-item h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.services-item p {
  font-weight: 400;
  font-size: 15px;
}
/*  services css ends from here*/

/*  technologies projects css ends here*/

.technolies {
  width: 100%;
  height: 144px;
}

.technolies-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}
.technolies-container img {
  width: 48px;
  height: 64px;
  margin: 0 40px;
}

/* technologies css ends here*/

/* get in touch css start from here*/
.get-in-touch {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  height: auto;
  padding: 5% 0;
}

.get-in-touch-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 20%;
  align-items: center;
  justify-content: center;
}
.get-in-touch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-in-touch-content h2 {
  font-size: 55px;
  margin-bottom: 20px;
}
.get-in-touch-content span {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    position: fixed;
    left: 10px;
  }

  .menu {
    flex-direction: column !important;
    align-items: start;
    justify-content: center;
    justify-self: center;
    width: 80%;
    margin: 0 10px;
    height: 400px;
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #000000;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 30px;
  }
  .menu li a {
    padding: 20px;
  }
  .open-menu {
    display: block;
  }
  #check:checked ~ .menu {
    top: 65px;
    transition: 0.7s ease;
  }
}
